@using CoreLaboratory2.Models
@model List<Test>
@{
    ViewData["Title"] = "EmployeeDetail";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />
<h2>@ViewBag.empName Laboratory</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestID</td>
            <td>@item.TestName</td>
            <td>@item.TestTypes</td>
            <td>@item.TestDescription</td>
        </tr>
    }
</table>

