@model CoreLaboratory2.Models.Employee
@{
    ViewData["Title"] = "UpdateEmployee";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<br />
@using (Html.BeginForm("UpdateEmployee1", "Employee", FormMethod.Post))
{
    <b>Employee ID</b>
    @Html.TextBoxFor(x => x.EmployeeID, new { @class = "form-control" })
    <br />
    <b>Employee Name</b>
    @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control" })
    <br />
    <b>Employee Surname</b>
    @Html.TextBoxFor(x => x.EmployeeSurname, new { @class = "form-control" })
    <br />
    <b>Employee Working Area</b>
    @Html.TextBoxFor(x => x.EmployeeWorkingArea, new { @class = "form-control" })
    <br />
    <b>Laboratory</b>
    @Html.DropDownListFor(x => x.Laboratory.LaboratoryID, (List<SelectListItem>)ViewBag.data, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" id="updBtn">Update Employee</button>
}
<script>
    $('#updBtn').click(function () {
        alert("Update Successful");
    });
</script>

